#cardList { 
	width: 900px;

}

li {
	border: 1.5px solid black;
	width: 60px;
	height: 75px;
	display: inline-block;
	border-radius: 5px;
	margin: 1px 1px 1px 1px;
}

.highlight {
	background-color: yellow;
}

.red {
	color: red;
}

h1 {
	padding-left: 50px;
	font-family: Verdana;
}

#shuffle {
	font-family: Verdana;
	margin-left: 50px;
	width: 80px;
	height: 30px;
	border-radius: 5px;
}

#sort {
	font-family: Verdana;
	width: 80px;
	height: 30px;
	border-radius: 5px;
}
